<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mindef.gob">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".activities.EstablishmentActivity"></activity>
        <activity android:name=".activities.PhoneLinesActivity" />
        <activity android:name=".activities.ImpeachmentPersonActivity" />
        <activity android:name=".activities.ImpeachmentCreateActivity" />
        <activity android:name=".activities.ImpeachmentActivity" />
        <activity android:name=".activities.PublicInformationCreateActivity" />
        <activity android:name=".activities.ConditionActivity" />
        <activity android:name=".activities.PublicInformationActivity" />
        <activity android:name=".activities.ClaimActivity" />
        <activity android:name=".activities.ComplaintActivity" />
        <activity android:name=".activities.PresentmentActivity" />
        <activity android:name=".activities.DocumentTrackActivity" />
        <activity android:name=".activities.DocumentViewActivity" />
        <activity android:name=".activities.DocumentReadActivity" />
        <activity android:name=".activities.DocumentCreateActivity" />
        <activity android:name=".activities.StartActivity" />
        <activity android:name=".activities.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.ProcedureActivity" />
        <activity android:name=".activities.NavigationActivity" />
        <activity android:name=".activities.RegisterActivity" />
        <activity android:name=".activities.MainActivity" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.mindef.gob"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_path" />
        </provider>
    </application>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.INTERNET" />

</manifest>